{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
{% with messages= get_flashed_messages()%}
  {% if messages %}
    
      {% for message in messages %}
        <h4 style="background-color: red; text-align: center;">{{message}}</h4>
      {% endfor %}
  {% endif %}
{% endwith %}

<div>
  <h1>Register New Student </h1>
  <p>Welcome to the student registration table. Please fill the form below</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <form method="POST", action="{{url_for('new_student')}}">
        {{ form.hidden_tag() }}
        {{wtf.quick_form(form)}}
      </form>

    </div>
  </div>
</div>



{% include "footer.html" %}
{% endblock %}